.modal{
    position: fixed;
    z-index: 1000;
    background-color: silver;
    width: 25%;
    border: 1px solid brown ;
    border-radius: 2px;
    top: 10%;
    left: 35%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3ms ease-out;

}
@media (max-width: 60rem) {
    .modal{
        width: 30%;
        left: 35%;
    }

}
